.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
}

#images{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 1%;
}

#enterBet{
    padding: 1%;
}

#roll {
    padding: 3%;
    background-color:gold;
    line-break: auto;
    font-size:x-large;
}

#bet-amount{
    padding: 1%;
}

#space {
    padding: 1%;
}

#winStatus {
    padding: 1%;
    font-size: x-large;
}

#balanceBox{
    font-size: larger;
}

#balance {
    font-size: larger;
}


    



